<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>QBO Connect</title>
  <script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js">
  </script>
  <script>
    intuit.ipp.anywhere.setup({
      menuProxy: '',
      grantUrl: 'http://localhost:' + <%= port %> + '/requestToken'
    });
  </script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
<div>
<ipp:connectToIntuit></ipp:connectToIntuit>
</div>
<ul>
  <h2>Reports</h2>
  <li><a href="/vendorbalancedetail">Vendor Balance Detail</a></li>
  <li><a href="/vbdetail/write">VB Detail Write test</a></li>
  <li><a href="/profitandloss">Profit and Loss</a></li>
  <li><a href="/profitandlossdetail">Profit and Loss Detail</a></li>

  <li>
    <a href="/customer-balance-detail">
      Customer Balance Detail
    </a>
  </li>

  <li>
    <a href="/balance-sheet">
      Balance Sheet
    </a>
  </li>

</ul>

</div>
</body>
</html>
