extends site_layout

block mainContent
  div(ng-controller="#{angularController}")

    h1 {{data.reportName}}
    h2 {{data.dateRange}}

    p
      button(type="button", class="btn btn-info clearfix")= "Sync with Quickbooks"
      button(type="button", class="btn btn-info" action="/vbdetail/write")= "Save all JSON to DB"
      button(type="button", class="btn btn-warning")= "Wipe and re-import"

    div(ng-repeat="t in data.tables")
      h2 {{t.title.value}}
      table.table.table-stripped
        thead
          tr
            th(ng-repeat="column in data.columns.Column")
              h5 {{column.ColTitle}}
            th(ng-repeat="customColumn in data.customColumns")
              h5 {{customColumn}}
        tbody
          tr(ng-repeat="row in t.rows")
            td(ng-repeat="cell in row")
              h5 {{cell.value}}
            td(ng-repeat="customColumn in data.customColumns")
              h5 "Something"
        tfoot
          tr
            th.success(ng-repeat="summaryCell in t.summary")
              h5 {{summaryCell.value}}