extends site_layout

block mainContent
  div(ng-controller="#{angularController}")

    h1 {{data.reportName}}
    h2 {{data.dateRange}}

    p
      button(type="button", class="btn btn-info clearfix")= "Sync with Quickbooks"
      button(type="button", class="btn btn-info", ng-click="saveAll(data.tables)")= "Save all JSON to DB"
      button(type="button", class="btn btn-warning")= "Wipe and re-import"

    br

    div.panel.panel-default(ng-repeat="t in data.tables")
      div.panel-body
        h2 {{t.title.value}}
        button.btn.btn-info(type="button", ng-click="save(t)") Save To DB
        table.table.table-stripped
          thead
            tr
              th(ng-repeat="column in data.columns.Column")
                h5 {{column.ColTitle}}
              th(ng-repeat="customColumn in data.customColumns")
                h5 {{customColumn}}
          tbody
            tr(ng-repeat="row in t.rows")
              td(ng-repeat="cell in row")
                {{cell.value}}
          tfoot
            tr
              th.success(ng-repeat="summaryCell in t.summary")
                h5 {{summaryCell.value}}
        br
        br